{% extends "dcodex/base_sidebars.html" %}
{% load static %}
{% block title %}Location{% endblock %}
{% load dcodex_carlson_tags %} 
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'dcodex/css/comparison.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'dcodex_carlson/css/location.css' %}" />

<style>

</style>
{% endblock %}

{% block middle %}
<div id=header>
{% if location.next %}
    <div id=next_location class='inputHeader inputButton noselect'>
        <a href="/dcodex_carlson/{{ location.next.id }}/{{ siglum }}/{{ parallel.code }}/">&nbsp;&nbsp;→&nbsp;&nbsp;</a>        
    </div>
{% endif %}
{% if location.prev %}
    <div id=prev_location class='inputHeader inputButton noselect'>
        <a href="/dcodex_carlson/{{ location.prev.id }}/{{ siglum }}/{{ parallel.code }}/">&nbsp;&nbsp;←&nbsp;&nbsp;</a>
    </div>
{% endif %}
<center>
{% for verse_label in location.closest_verse_labels.all %}
    <a href="/dcodex_carlson/{{ location.id }}/{{ siglum }}/{{ verse_label.parallel.code }}/"><span class="verse_reference inputHeader">{{ verse_label.bible_verse }}</span></a>
{% endfor %}
<div class=transcription >{{ transcription.transcription }} <input type="image" src="{% static 'dcodex/images/preview.png' %}" class="mshover comparison_button" data-manuscriptid="{{ manuscript.id }}" data-verseid="{{ bible_verse.id }}"></div>


<div id=basetext>{{ location.base_text_greek }}</div>
</div>
<div id=variants>

{% for sublocation in sublocations %}
    <div class=sublocation data-sublocationid="{{ sublocation.id }}">
    <!--
        <span>Sublocation {{ sublocation.id }}:</span>
    -->
        {% witness_attests_reading witness sublocation '0' parallel as selected %}                                
        <span class="reading {% if selected %}selected{% endif %}" data-code="0">Base</span>
        {% for reading in sublocation.reading_set.all %}
            {% witness_attests_reading witness sublocation reading.order parallel as selected %}        
            <span class="reading {% if selected %}selected{% endif %}" data-code="{{ reading.order }}">{{ reading.text_greek }}</span>
        {% endfor %}

        {% witness_attests_reading witness sublocation '?' parallel as selected %}                
        <span class="reading {% if selected %}selected{% endif %}" data-code="?">?</span>
        <!--
        {% witness_attests_reading witness sublocation '-' parallel as selected %}                                
        <span class="reading {% if selected %}selected{% endif %}" data-code="-">—</span>        
        -->
    </div>
    <hr>
{% endfor %}
</center>

<div style='height: 400px; '>
{% if location.prev %}
    <div  id=prev_location_bottom class='inputHeader inputButton noselect'>
        <a href="/dcodex_carlson/{{ location.prev.id }}/{{ siglum }}/{{ parallel.code }}/">&nbsp;&nbsp;←&nbsp;&nbsp;</a>    

    </div>
{% endif %}
{% if location.next %}
    <div id=next_location_bottom class='inputHeader inputButton noselect'>
        <a href="/dcodex_carlson/{{ location.next.id }}/{{ siglum }}/{{ parallel.code }}/">&nbsp;&nbsp;→&nbsp;&nbsp;</a>        
    </div>
{% endif %}

</div>
</div>


{% endblock %}

{% block right_sidebar %}

{% for verse_label in verse_labels %}
    <div id='comparison{{ verse_label.bible_verse.id }}'></div>
{% endfor %}

{% endblock %}



{% block left_sidebar %}

<center>
    <img src="{% static 'dcodex/images/DCodex-Logo.svg' %}" id='logo' />
</center>
<div id=collation_locations>
    {% for collation_location in location.collation_set.first.locations.all %}
        <div class="collation_location {% if collation_location.id == location.id %}collation_location_selected{% endif %}" id="collation_location{{ collation_location.id }}">
            <div>
            {% for collation_location_verse in collation_location.verse_labels.all %}
            {{ collation_location_verse.bible_verse.reference_abbreviation }}
            {% endfor %}
            </div>
            {{ collation_location.base_text_greek }}
        </div>
    {% endfor %}
</div>

{% endblock %}


{% block extra %}
<div id=hover></div>
<div id=msHover style='overflow:hidden;'></div>
{% endblock %}


{% block javascript %}
<script src="{% static 'dcodex/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'dcodex_carlson/js/location.js' %}"></script>
<script>
var hover_xhr = null;
function load_comparison(verse_id, manuscript_id, div_name) {
    $( div_name ).load( "/dcodex/ajax/comparison/", { manuscript_id:manuscript_id, verse_id:verse_id }, function() {
        $(".mshover").hover(function(){
            $('#msHover').load("/dcodex/ajax/transcription-mini/", { manuscript_id:$(this).data('manuscriptid'), verse_id:$(this).data('verseid') } );
            $('#msHover').show();
        }, function() {
            $('#msHover').hide();	  
            $('#msHover').html("");
        });        
    } );
}

$( document ).ready(function() {
    console.log( "loading from location.html" );
    
    $('.reading').click(function(e) {
        sublocationdiv = $(this).parent();
        sublocation_id = sublocationdiv.data('sublocationid');
        reading = $(this);
        $.ajax({
            type: "POST",
            url: "/dcodex_carlson/set_attestation/",
            data: {'code':$(this).data('code'), 'sublocation_id':sublocation_id, 'witness_id': {{ witness.id }}, 'parallel_id': {{ parallel.id }} },
            success: function(msg){
                if (msg == "OK") {
                    sublocationdiv.children( '.reading' ).removeClass( 'selected' );
                    reading.addClass( 'selected' );
                }
                else {
                    alert("There was a problem setting the attestation.");
                }
            }
        });        
        
	});
    $( ".reading" ).hover(
        function(event) {
            sublocationdiv = $(this).parent();
            sublocation_id = sublocationdiv.data('sublocationid');
            if (hover_xhr != null) {
                hover_xhr.abort();
            }
            hover_xhr = $.ajax({
                type: "POST",
                url: "/dcodex_carlson/attestations/",
                data: {'code':$(this).data('code'), 'sublocation_id':sublocation_id},
                success: function(msg){
                    $("#hover").html(msg);  
                    var left = event.pageX  + 20;
                    var top = event.pageY + 30;
                    $('#hover').css({top: top,left: left}).show();
                }
            });
    
        }, function() {
            $("#hover").hide();
        }
    );
    {% for verse_label in location.closest_verse_labels.all %}
        load_comparison({{ verse_label.bible_verse.id }}, {{ witness.manuscript.id }}, '#comparison{{ verse_label.bible_verse.id }}' );
    {% endfor %}
    
    $('#collation_locations').scrollTo($('#collation_location{{ location.id }}' ));				

    $('#variants').css( {top: $('#header').height()});
});
</script>
{% endblock %}